<body>
  <app-nav-menu></app-nav-menu>
  <div class="container" style="margin-bottom: 1rem;">
    <router-outlet></router-outlet>
  </div>
</body>



<!-- <mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]=true>
    Sidenav content
  </mat-sidenav>

  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>
    <h1>Content</h1>
    <h1>Content</h1>
    <h1>Content</h1>
  </mat-sidenav-content>

</mat-sidenav-container> -->
